body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    background-color: #3f3f3f;
    color: #fff;
}

ul{
    padding: 0;
}

li{
    list-style-type: none;
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: rgb(255, 17, 0);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.languages{
    display: flex;
    justify-content: center;
}

a.selected {
    color: rgb(255, 17, 0);
}

a.active:before {
    content: '>';
}

.languages li{
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}

.space-list-items{
    margin-bottom: 10px;
}

.avatar{
    width: 150px;
    border-radius: 50%;
}